$my-custom-padding: 16px;
$custom-border: 1px solid #000;
@mixin text-container-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}

@mixin text-body-header14 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
}

@mixin text-body-body14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}

@mixin text-body-label12 {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6;
}
