$my-custom-padding: 16px;
$white: #fffaff;
$gray: #e7dbe4;
$gray-2nd: #e0e0e0;
$main: #5e4b87;
$black: #363537;

@mixin table-outline-and-box {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  min-height: 200px;
}

@mixin text-container-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
}

@mixin text-body-header14 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
}

@mixin text-body-body14 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}

@mixin text-body-label12 {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.6;
}
